[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = BR
ST = Sao Paulo
L = Bauru
O = E01-AIO Automacao Ltda
OU = Research and Development
CN = 10.15.20.234
emailAddress = nelio@e01aio.com.br
