[submodule "tools/mkspiffs"]
	path = tools/mkspiffs
	url = https://github.com/igrr/mkspiffs.git
[submodule "tools/content"]
	path = tools/content
	url = git@github.com:nsfilho/E12AIO3-SPIFFS.git
[submodule "components/int-mqtt/esp-mqtt"]
	path = components/int-mqtt/esp-mqtt
	url = https://github.com/espressif/esp-mqtt.git
