name: ESP8266-RTOS-SDK Build

on:
  push:
    branches: [master]
    paths:
      - main/**/*.c
      - main/**/*.h
      - tools/spiffs.bin
      - sdkconfig.defaults
      - partitions.csv

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "Building project"
        uses: nsfilho/esp8266-rtos-sdk@v2
        with:
          makearg: "allcerts defconfig all size-components"
      - name: Packing files
        run: |
          mkdir artifact
          cp build/e12aio3.bin artifact/
          cp build/ota_data_initial.bin artifact/
          cp build/partitions.bin artifact/
          cp build/phy_init_data.bin artifact/
          cp tools/spiffs.bin artifact/
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: artifact/
